/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/*arregla errores de display entre fa icon y svg*/
fa-icon svg {
  display: block;
  vertical-align: middle;
}


.fa-fix svg {
  display: block;
  vertical-align: middle !important;
}
